

.gender-block-wrapper{
    width: 100%;
    padding-top: 5rem;
    flex: 1;
    background-color: #F6E4E7;

    @media (max-width: 600px) {
        padding-top: 10rem;
    }
}

.gender-block {
    //display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        font-size: 5rem;
        font-weight: 600;
        color: #A86A7A;
        -webkit-text-stroke: 3px #000;

        @media (max-width: 600px) {
            font-size: 3rem;
            -webkit-text-stroke: 1.3px #000;
        }
    }

    &__genders {
        margin-top: 2.5rem;
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 40px;

        @media (min-width: 600px) {
            gap: 80px;
        }

        &-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            width: 150px;
            background: #fc828c;
            padding: 1rem 0.5rem;
            border-radius: 30px;
            border: none;
            transition: background-color 0.2s ease;

            &:hover{
                background-color: #fb6471;
            }
        }

        &--male {
            &-image {
                width: 140px;
            }
        }
    
        &--female {
            &-image {
                width: 140px;
            }
        }
    }
}