

.gender-block-wrapper{
    width: 100%;
    padding-top: 5rem;
    flex: 1;
    background-color: #F6E4E7;
}

.questions-wrapper {

    z-index: 100;
    margin-left: auto;
    margin-right: auto;

    border: 10px double #A86A7A;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    background: #fff;
    padding: 3rem;

    @media (max-width: 600px) {
        padding-top: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.quiz-button {
    padding: 0.65rem 1rem;
    min-width: 130px;
}

.questions-page-height {
    min-height: 80vh;
    @media (max-width: 600px) {
        //min-height: 85vh;
    }
}

.answers-wrapper {
    display: flex;
    flex-direction: column;
}

.custom-answer-choices {
    border: 1px solid #A86A7A;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

}


.answer-radio {
    display: none;
  }
  
  .answer-label {
    border-radius: 8px;
    transition: background-color 0.2s ease, color 0.2s ease;
  }

  .answer-label {
    transition: none !important;
  }
  
  .answer-radio:checked + .answer-label {
    background-color: #fc828c; /* customize as needed */
    color: #000;
    border-color: #000;
  }
  
  .answer-radio:focus + .answer-label {
    outline: 2px solid #A86A7A;
    outline-offset: 2px;
  }

.gender-block {
    //display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;

    &__title {
        font-size: 25px;
        font-weight: 600;
        color: #A86A7A;
        -webkit-text-stroke: .75px #000;
        margin-top: 2.5rem;
    }

    &__genders {
        margin-top: 2.5rem;
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 40px;

        @media (min-width: 600px) {
            gap: 80px;
        }

        &-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            width: 150px;
            background: #fc828c;
            padding: 1rem 0.5rem;
            border-radius: 30px;
            border: none;
            transition: background-color 0.2s ease;

            &:hover{
                background-color: #fb6471;
            }
        }

        &--male {
            &-image {
                width: 140px;
            }
        }
    
        &--female {
            &-image {
                width: 140px;
            }
        }
    }
}

.quiz-wrapper {
    color: #874B5C;
}

.text-color-primary {
    color: #b17987;
}

.bg-color-primary {
    background-color: #F6E4E7;
}