:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #FF8F9F;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {        
  min-height: 100vh;      
  width: 100%;
  background: #FFB3BE;
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: #FFB3BE;
}

.ccontainer {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  padding-bottom: 1rem;
}

button {
  background-color: #FF8F9F;
  color: #000;
  border: 1px solid #000;
  border-radius: 18px;
  font-size: 1rem;
  padding: 0.85rem 1.4rem;
  min-width: 150px;
  align-self: center;
  justify-self: center;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #F97389;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background: #FFB3BE;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

